<div class="clr-row" style="margin: 2rem">
  <div class="clr-col-4">
    <div class="clr-row">
      <clr-combobox
        name="regions"
        [(ngModel)]="displayPickedRegion"
        [placeholder]="'Выберите регион'"
        [clrLoading]="loadingRegions"
      >
        <clr-options>
          <clr-option
            *ngFor="let region of regions.data"
            name="reg"
            [clrValue]="region.region"
            ngDefaultControl
            (click)="changeRegions(region)"
            (clrInputChange)="changeRegions(region)"
          >
            {{ region.region }}
          </clr-option>
        </clr-options>
      </clr-combobox>
    </div>
    <div
      class="clr-row"
      style="flex-direction: column; align-items: flex-start; margin-left: 1%"
    >
      <div class="clr-row" style="margin-bottom: 0.5rem">
        <p>
          {{ textKoeffDiff }} {{ getKdFromRegion() }}
          <a
            role="tooltip"
            aria-haspopup="true"
            class="tooltip tooltip-sm tooltip-top-right"
          >
            <cds-icon shape="info-circle" size="24"></cds-icon>
            <span class="tooltip-content"
              >{{textKoeffDiffInfo}}</span
            >
          </a>
        </p>
      </div>
      <div class="clr-row" style="margin-bottom: 0.5rem">
        <p>
          {{textZP}} {{ salaryAndOthers }}%
          <a
            role="tooltip"
            aria-haspopup="true"
            class="tooltip tooltip-sm tooltip-top-right"
          >
            <cds-icon shape="info-circle" size="24"></cds-icon>
            <span class="tooltip-content"
              >{{textZPInfo}}</span
            >
          </a>
        </p>
      </div>
      <div class="clr-row" style="margin-bottom: 1rem">
        <input
          type="range"
          (change)="setStorage()"
          clrRange
          name="two"
          [(ngModel)]="salaryAndOthers"
          (change)="calculateTarifMinusSalaryAndOthers()"
        />
      </div>
    </div>
    <div class="clr-row" style="margin-top: 2rem">
      <button
        class="btn btn-primary"
        [disabled]="pickedRegion === null"
        (click)="loadTarrifs()"
      >
        {{textButtonCount}}
      </button>
    </div>
  </div>
  <div class="clr-col-8">
    <div class="clr-row">
      <table class="table">
        <thead>
          <tr>
            <th>{{ textGroupVMP }}</th>
            <th>{{ textTarrif }}</th>
            <th>{{ textTarrifMinusDZP }}</th>
          </tr>
        </thead>
        <tbody *ngIf="!loadingTable">
          <tr *ngFor="let tarrif of tarrifDatasource.data">
            <td style="text-align: left">{{ tarrif.medical_group }}</td>
            <td>{{ tarrif.tarif }}</td>
            <td>{{ tarrif.calculated | round }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="tarrifDatasource.data.length < 1 && !loadingTable">
      <div class="clr-row" style="text-align: center">
        <h4 style="width: 100%">Данные не загружены</h4>
      </div>
    </ng-container>
    <ng-container *ngIf="loadingTable">
      <div class="clr-row">
        <span class="spinner" style="margin-left: 50%"> Loading... </span>
      </div>
    </ng-container>
  </div>
</div>
